@keyframes h1 {

 

}

h1 {
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size:  32px;
    color: white;
    animation-name: h1;
    animation-duration: 5s;
    animation-delay: 1s;
    
}
.case1 > img {
    width: 300px;
    border-radius: 5px;
}
.case1 {
    display: flex;
    margin-left: 50px;
    margin-top: 58px;
    width: 891px;
    
}
.section-cases{
    margin-top: 50px;
}
.button-sabermais a {
    text-decoration:  none;
}

.section-cases hr {
background: whitesmoke;
   
}
    .button-sabermais {
    
        width: 178px;
        height: 42px;
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        border-radius: 9px;
        background: transparent linear-gradient(98deg,#a6550096 0%,#ECE5DD 100%) 0% 0% no-repeat;
        border: none;
        color: white;
        font-weight: bold;
    }
figcaption {
    font-size: 20px;
    display: block;
    margin: 0 auto;
    margin-left: 33px;
}
#conteudo-header-servicos {
    background: rgba(233, 223, 223, 0.192);
    width: 715px;
    display: block;
    margin: 0 auto;
    padding: 12px;
}
body{
    background: #ed9121;
}
header{
    margin-bottom: 50px;
}

.subtitle-servicos{
font-size:18px;
color: white;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card-servicos1 {
    width: 360px;
    background:whitesmoke;
    height: 360px; 
    margin: 0 auto;
    border-radius: 5px;
}
.card-servicos1 > button {
margin-top: 35px !important;
   margin: 0 auto;
   background: none;
   border: none;
}
.description-card{
font-size:14px;
}
.card-servicos3 {
    width: 360px;
    background: whitesmoke;
    height: 360px;
    margin: 0 auto;
    border-radius: 5px;
}
.card-servicos3 > button {
    margin-top: 30px !important;
       margin: 0 auto;
       background: none;
       border: none;
    }

.card-servicos2 > button {
    margin-top: 30px !important;
       margin: 0 auto;
       background: none;
       border: none;
    }
button img{
    height: 154px;
width: 169px;
}
.card-servicos2 {
    width: 360px;
    background:whitesmoke;
    height: 360px;
    margin: 0 auto;
    border-radius: 5px;
}



/* MEDIA QUERY */
@media (max-width: 1114px){
    .cards{
        display: grid;
        grid-template-columns:  1fr 1fr;
    }
}
@media (max-width: 1114px){
    .card-servicos3{
        margin-top:40px;
    }
}
