li.menu-item {
    list-style: none;
    margin-left: 40px;
}

nav.main-menu ul {
    display: flex;
}

.logo.max-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-container {
    max-width: 1080px;
    width: calc(100% - 240px);
    margin: 0 auto;
}